.link {
    background-color:rgba(0,0,0,.03);
    box-shadow: 0 5px 0 rgba(0,0,0,0.5);
    color: darkgray;
    padding: 0.5em 1.25em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

}

.link:hover {
    background-color: silver;
    cursor: pointer;
}

.link:active {
    box-shadow: none;
    top: 1px;
}

.link-wrapper {
    margin-top: 50px;
}
